@charset "utf-8";

@font-face {
  font-family: "Minion Pro Regular";
  src: url("../fonts/minionpro/MinionPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minion Pro Medium";
  src: url("../fonts/minionpro/MinionPro-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minion Pro Italic";
  src: url("../fonts/minionpro/MinionPro-It.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/lato/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../fonts/lato/Lato-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light Italic";
  src: url("../fonts/lato/Lato-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Savoye";
  src: url("../fonts/savoye/SavoyeStd.otf");
  font-weight: 100;
  font-style: normal;
}

.font-lato {
  font-family: "Lato Regular" !important;
}

.font-lato-italic {
  font-family: "Lato Italic" !important;
}

.font-lato-light {
  font-family: "Lato Light" !important;
}

.font-lato-light-italic {
  font-family: "Lato Light Italic" !important;
}

.font-lato-bold {
  font-family: "Lato Bold" !important;
}

.font-minion-pro {
  font-family: "Minion Pro Regular" !important;
}

.font-minion-medium {
  font-family: "Minion Pro Regular" !important;
}

.font-minion-italic {
  font-family: "Minion Pro Italic" !important;
}

.font-savoye {
  font-family: "Savoye" !important;
}

.bg-dark {
    background-color: black !important;
}

.blink-60 {
    background-color: black;
    background-image: url('../assets/images/bg/blink-60.png') !important;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.blink-100 {
    background-color: black;
    background-image: url('../assets/images/bg/blink-100.png') !important;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.blink-r-60 {
    background-color: black;
    background-image: url('../assets/images/bg/blink-r-60.png') !important;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.blink-r-100 {
    background-color: black;
    background-image: url('../assets/images/bg/blink-r-100.png') !important;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-black {
    color: black !important;
}

.text-main {
    color: #f3d074 !important
}

.text-light {
    color: white !important
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.px-5 {
    padding-left : 5px !important;
    padding-right : 5px !important;
}

.px-10 {
    padding-left : 10px !important;
    padding-right : 10px !important;
}

.px-15 {
    padding-left : 15px !important;
    padding-right : 15px !important;
}

.px-20 {
    padding-left : 20px !important;
    padding-right : 20px !important;
}

.px-30 {
    padding-left : 30px !important;
    padding-right : 30px !important;
}

.px-50 {
    padding-left : 50px !important;
    padding-right : 50px !important;
}

.pt-10 {
    padding-top : 10px !important;
}

.pt-15 {
    padding-top : 15px !important;
}

.pt-20 {
    padding-top : 20px !important;
}

.pt-30 {
    padding-top : 30px !important;
}

.pt-50 {
    padding-top : 50px !important;
}

.pl-10 {
    padding-left : 10px !important;
}

.pl-15 {
    padding-left : 15px !important;
}

.pl-20 {
    padding-left : 20px !important;
}

.pl-30 {
    padding-left : 30px !important;
}

.pl-50 {
    padding-left : 50px !important;
}


.mt-10 {
    margin-top : 10px !important;
}

.mt-15 {
    margin-top : 15px !important;
}

.mt-20 {
    margin-top : 20px !important;
}

.mt-30 {
    margin-top : 30px !important;
}

.mt-40 {
    margin-top : 40px !important;
}

.mb-10 {
    margin-bottom : 10px !important;
}

.mb-15 {
    margin-bottom : 15px !important;
}

.mb-20 {
    margin-bottom : 20px !important;
}

.mb-30 {
    margin-bottom : 30px !important;
}

.mb-40 {
    margin-bottom : 40px !important;
}

/*- - - - - - - - - - - - - - - - - - - - 
/* Import font
/*- - - - - - - - - - - - - - - - - - - - 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,400italic,400,300,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700,900);

/*- - - - - - - - - - - - - - - - - - - - 
/* Table of content
/*- - - - - - - - - - - - - - - - - - - - 
body
header
subheader
navigation
content
section
sidebar
room
contact
booking
footer
elements
	address
	blockquote
	border
	button
	call to action
	carousel
	icon box
	map
misc

/*- - - - - - - - - - - - - - - - - - - - 
	HTML
- - - - - - - - - - - - - - - - - - - - */

/* html {
  overflow-x: hidden;
} */
	
/*- - - - - - - - - - - - - - - - - - - - 
	BODY
- - - - - - - - - - - - - - - - - - - - */
body {
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    font-size:13px;
    line-height:1.7em;
    margin:0;
    padding:0;
    color:#888;
    background:#fff
}

/*- - - - - - - - - - - - - - - - - - - - 
	HEADER
- - - - - - - - - - - - - - - - - - - - */
header {
    background:#111;
    padding-bottom:10px
}

header.clone {
    width:100%;
    position:fixed;
    top:-80px;
    transition:.2s top ease-in;
    padding-bottom:0
}

header.clone #logo {
    display:none
}

body.down header.clone {
    top:0;
    left:0;
    right:0;
    z-index:999
}

header #logo {
    text-align:center
}

header #logo .inner {
    margin:40px 0;
    display:inline-block
}


/*- - - - - - - - - - - - - - - - - - - - 
	SUBHEADER
- - - - - - - - - - - - - - - - - - - - */
.subheader {
    padding:120px 0;
    background-size: cover;
    text-align:center;
    text-transform:uppercase
}

#subheader-premium {
    background:url(../assets/images/treatment/bg-banner-1.jpg) center no-repeat;
}

#subheader-advance {
    background:url(../assets/images/treatment/bg-banner-2.jpg) center no-repeat;
}

.subheader h1 {
    font-family:'Cinzel';
    letter-spacing:10px;
    font-size:64px;
    font-weight:400;
    color:#fff
}

.subheader h3 {
    font-family:'Cinzel';
    color:#edb83a;
    text-transform:uppercase;
    letter-spacing:10px;
    font-weight:400
}

.subheader span {
    display:inline-block;
    padding-top:20px;
    font-size:16px
}

/*- - - - - - - - - - - - - - - - - - - - 
	NAVIGATION
- - - - - - - - - - - - - - - - - - - - */
#mainmenu-container {
    font-family:"Lato Regular";
    text-align:center;
    width:100%;
    height:60px;
    border-top:solid 1px #292929;
    border-bottom:solid 1px #292929
}

#mainmenu {
    color:#EDB83A;
    font-weight:400;
    font-size:14px;
    letter-spacing:2px;
    display:inline-block;
    text-align:left;
    text-transform:uppercase;
    font-size:13px
}

#mainmenu a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    outline:none
}

#mainmenu ul {
    float:right;
    margin:0;
    padding:0;
    height:30px
}

#mainmenu li {
    margin:0;
    padding:0;
    float:left;
    display:inline;
    list-style:none;
    position:relative
}

#mainmenu li.active a {
    color: #f3d074 !important;
}

#mainmenu a {
    display:block;
    padding:20px 20px 17px;
    text-decoration:none;
    color:#fff
}

#mainmenu a:hover {
    color:#fff
}

#mainmenu li li,#mainmenu li li:last-child {
    font-size:14px;
    border-left:none;
    border-right:none
}

#mainmenu li li a {
    padding:10px 15px;
    background:#222;
    border-top:none;
    text-transform:none;
    letter-spacing:normal
}

#mainmenu li li a:hover {
    border-top:none
}

#mainmenu li li a:hover {
    color:#fff;
    background:#EDB83A
}

#mainmenu li ul {
    width:200px;
    height:auto;
    position:absolute;
    top:100%;
    left:0;
    z-index:10;
    display:none
}

#mainmenu li li {
    display:block;
    float:none;
	border-bottom:solid 1px #2b2b2b;
}

#mainmenu li li a:after {
    display:none
}

#mainmenu li:hover > ul {
    display:block
}

#mainmenu li ul ul {
    left:100%;
    top:0
}

#mainmenu li:hover a {
    color:#edb83a
}

#mainmenu select {
    padding:10px;
    height:36px;
    font-size:14px;
    border:none;
    background:#ff4200;
    color:#fff
}

#mainmenu select option {
    padding:10px
}

#menu-btn {
    position:fixed;
    display:none;
    float:right;
    width:42px;
    height:42px;
    background:#edb83a;
    padding:10px;
    text-align:center;
    cursor:pointer;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    top:20px;
    right:20px;
    z-index:10001
}

#menu-btn:before {
    font-family:FontAwesome;
    content:"\f0c9";
    font-size:27px;
    color:#fff
}

#menu-btn.clicked:before {
    content:"\f00d"
}

.selectnav {
    display:none;
    width:80%;
    font-size:16px;
    border:solid 1px #333;
    padding:5px;
    background:#222
}

/*- - - - - - - - - - - - - - - - - - - - 
	ELEMENTS
- - - - - - - - - - - - - - - - - - - - */
/* address */
/* ------------------------------ */
address span {
    display:block;
    margin-bottom:5px
}

address span strong {
    display:inline-block;
    width:60px
}

address h4 {
    font-size:14px
}

/* blockquote */
/* ------------------------------ */
blockquote {
    background:#f9f9f9;
    margin:1.5em 10px;
    padding:30px;
    font-family:Georgia,"Times New Roman",Times,serif
}

blockquote:before {
    color:#ccc;
    content:open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
    content:"\201C"
}

blockquote p {
}

blockquote span {
    font-family:"Open Sans",Arial;
    display:block;
    margin-top:10px
}

/* border / separator */
/* ------------------------------ */
.small-border {
    height:2px;
    width:50px;
    margin:30px 0;
    background:#EDB83A
}

hr {
    border:none;
    height:80px;
    background:url(../img/divider-1.png) center no-repeat;
    clear:both
}

.divider {
    clear:both;
    height:60px
}

.divider-double {
    clear:both;
    height:80px
}

/* button */
/* ------------------------------ */
.btn-custom {
    background:#333;
    color:#fff;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px
}

a.btn-custom:hover {
    background:#655233;
    text-decoration:none
}

.btn-custom:hover {
    color:#fff
}

.btn-primary:hover {
    background:#bc5031
}

.btn-border {
    border:solid 1px rgba(0,0,0,.3);
    background:none;
    padding:5px 20px;
    color:#333;
    text-decoration:none!important
}

.btn-border:hover {
    background:#333;
    color:#fff
}

.btn-big-border {
    color:#333;
    text-transform:uppercase;
    border:solid 2px #333;
    padding:15px 40px;
    font-weight:600;
    font-size:18px;
    letter-spacing:3px;
    text-decoration:none!important
}

.btn-big-border:hover {
    background:#222;
    color:#fff
}

.btn-book {
    position:absolute;
    z-index:100;
    display:inline-block;
    color:#fff;
    background:#e08e79;
    padding:5px 10px;
    text-decoration:none
}

.btn-book:hover {
    color:#fff;
    background:#EDB83A;
    text-decoration:none
}

.btn-book span {
    font-size:16px;
    margin-left:15px;
    padding-left:15px;
    border-left:solid 1px #fff
}

/* call to action */
/* ------------------------------ */
.call-to-action {
    background:#edb83a
}

/* carousel */
/* ------------------------------ */
.custom-carousel-1 {
    padding:0!important;
    margin:0!important
}

/* icon box */
/* ------------------------------ */
.featured-box {
    padding:20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:solid 1px #ddd
}

.featured-box h3 {
    margin-bottom:10px
}

.featured-box i {
    color:#888;
    position:absolute
}

.featured-box .text {
    padding-left:70px
}

.featured-box-pic img {
    margin:0 0 20px
}

.featured-box-pic .inner {
}

.featured-box-pic .inner h4 {
    margin-top:0;
    font-size:22px
}

.featured-box-pic .text {
    margin-bottom:20px
}

.featured-box-pic .btn-custom {
    background:#EDB83A;
    color:#fff;
    padding:5px 20px
}

.info-box {
    font-size:14px;
    position:absolute;
    z-index:100;
    display:inline-block;
    text-decoration:none;
    margin-top:4px
}

.info-box:hover {
    color:#fff;
    background:#EDB83A;
    text-decoration:none
}

.info-box .book {
    color:#fff;
    background:#e08e79;
    padding:5px 15px
}

.info-box .price {
    color:#fff;
    background:#EDB83A;
    padding:5px 15px
}

.icon-box {
    min-height:120px;
    margin-bottom:30px
}

.icon-box i {
    position:absolute;
    color:#fff;
    font-size:40px;
    padding:40px 0;
    text-align:center;
    width:80px;
    background:#404040
}

.icon-box:hover i {
    color:#EDB83A;
    background:#f2f2f2
}

.icon-box .text {
    padding-left:110px
}

/* heading */
/* ------------------------------ */
h1,h2 {
    font-weight:lighter;
    color:#333;
    font-family:"Cinzel"
}

h3,h4,h5,h6 {
    color:#333;
    font-family:"Merriweather"
}

footer h3,footerh4,footerh5,footer h6 {
    font-weight:500;
    color:#fff
}

h1.h1-style {
    letter-spacing:-1px;
    font-weight:lighter
}

h3.title {
    font-weight:600;
    padding-bottom:10px;
    margin-bottom:20px
}

h2 {
    font-size:32px;
    letter-spacing:-1px;
    line-height:inherit;
    margin-top:0
}

h3.title-property {
    margin:0
}

h3 {
    letter-spacing:-1px;
    margin-top:0;
    font-size:20px
}

.title-text{
	text-align:center;
}

.title-text .small-border{
	margin-left:auto;
	margin-right:auto;
}

/*- - - - - - - - - - - - - - - - - - - - 
map
- - - - - - - - - - - - - - - - - - - - */
.map {
    margin-top:40px
}

.map iframe {
    width:100%;
    height:320px;
    border:solid 1px #ccc;
    padding:2px;
    background:#fff
}

#map-container iframe {
    width:100%;
    height:360px
}

.map-small iframe {
    width:100%;
    height:200px
}

/*- - - - - - - - - - - - - - - - - - - - 
/* link
/*- - - - - - - - - - - - - - - - - - - - */
a {
    color:#EDB83A;
    text-decoration:none
}

a:hover {
    color:#655233
}

footer a:hover {
    color:#fff
}

/* quotes */
/* ------------------------------ */
.client-quotes {
    font-family:"Merriweather";
    margin:0 auto;
    padding:0;
    list-style:none;
    max-width:700px
}

.client-quotes .text {
    color:#fff;
    font-size:18px;
    line-height:1.8em;
    margin-bottom:20px;
    padding-left:60px;
    font-style:italic
}

.client-quotes i {
    margin:20px 0;
    color:#edb83a
}

.client-quotes .name {
    font-weight:700;
    color:#edb83a;
    padding-left:60px
}

.client-quotes .company {
    margin-bottom:20px;
    color:#edb83a
}

.client-quotes li {
    margin:0!important;
    padding:0!important
}

.client-quotes li:before {
    font-family:"FontAwesome";
    content:"\f10d";
    font-size:32px;
    color:#edb83a;
    font-weight:400;
    position:absolute;
    margin-top:10px
}

.client-quotes li img {
    background:#fff;
    padding:3px;
    margin-bottom:20px;
    width:100px;
    height:100px
}

.client-quotes span {
    padding-right:10px
}

.client-quotes i {
    width:100%
}

/*- - - - - - - - - - - - - - - - - - - - 
/* content
/*- - - - - - - - - - - - - - - - - - - - */
#content {
    padding:80px 0
}

.no-top {
    padding-top:0!important
}

.no-bottom {
    padding-bottom:0!important
}

/*- - - - - - - - - - - - - - - - - - - - 
	SECTION
/*- - - - - - - - - - - - - - - - - - - - */
section {
    background-position:0;
    padding:80px 0;
    background:#fff;
    position:relative;
    z-index:1
}

section.dark {
    background:#222;
}

.side-bg .image-container {
    height:100%;
    overflow:hidden;
    padding:0;
    position:absolute;
    top:0
}

.side-bg .background-image {
    background:url(../img/bg/bg-2.jpg);
    background-position:50% 50%!important;
    background-size:cover!important;
    width:100%;
    height:100%;
    left:0;
    position:absolute;
    z-index:0
}

#explore-1.side-bg .background-image {
    background:url('../img/explore/pic (1).jpg')
}

#explore-2.side-bg .background-image {
    background:url('../img/explore/pic (2).jpg')
}

#explore-3.side-bg .background-image {
    background:url('../img/explore/pic (3).jpg')
}

#explore-4.side-bg .background-image {
    background:url('../img/explore/pic (4).jpg')
}

#explore-5.side-bg .background-image {
    background:url('../img/explore/pic (5).jpg')
}

.side-bg .inner-padding {
    padding:40px 0
}

/*- - - - - - - - - - - - - - - - - - - - 
	room
- - - - - - - - - - - - - - - - - - - - */
.room {
    margin-bottom:30px;
    background:#edb83a
}

.room h3 {
    text-align:center;
    margin-bottom:20px
}

.room img {
}

.room .text {
    color:#333;
    padding:20px 30px 30px
}

.room-specs {
    padding:20px;
    border-bottom:solid 5px #ddd
}

.room-specs ul {
    list-style:none;
    margin:0;
    padding:0
}

.room-specs ul li {
    border-bottom:solid 1px #ddd;
    padding-bottom:5px;
    margin-bottom:5px
}

.room-specs ul li:before {
    list-style:none;
    color:#EDB83A;
    content:open-quote;
    font-size:14px;
    line-height:.1em;
    margin-right:10px;
    font-family:FontAwesome;
    content:"\f046"
}

.room-info h4 {
    margin-top:0
}

.room .price,.room .btn-book-now {
    width:50%;
    float:left;
    text-align:center;
    color:#fff;
    padding:20px 0
}

.room .price {
    background:rgba(0,0,0,.1)
}

.room .btn-book-now {
    background:rgba(0,0,0,.15);
    text-decoration:none
}

.room .btn-book-now:hover {
    background:#655233;
    text-decoration:none
}

.room-single .room-info,.room-single .room-specs {
    padding:0;
    border-bottom:none;
    background:none
}

.room-single .room-specs {
    margin-top:20px;
    margin-bottom:20px
}

.room-single .inner {
    padding:30px 40px;
    background:#eee
}

.room-single .room-price {
    color:#fff;
    background:#EDB83A;
    padding:5px 10px 4px;
    display:inline-block
}

.room-single .btn-book {
    padding:7px 10px 6px
}

.room-single .room-price span {
    font-size:22px;
    font-weight:700
}

.room-item img {
    width:100%;
    margin:0;
    padding:0;
    height:100%
}

.room-item h1 {
    font-family:"Cinzel";
    text-transform:uppercase;
    padding:0;
    margin:0;
    font-size:16px;
    letter-spacing:3px
}

.room-item .overlay {
    position:absolute;
    bottom:0;
    background:#edb83a;
    padding:35px 30px 20px;
    width:100%;
    height:84px;
    text-align:center
}

.room-item {
    position:relative;
    overflow:hidden!important
}

.room-list .room-item {
    margin-bottom:30px!important
}

.room-item .desc {
    height:0;
    color:#333;
    padding-left:30px;
    padding-right:30px
}

.price {
    font-size:32px;
    color:#333;
    font-family:"Cinzel";
    margin:30px 0
}

.price span {
    font-size:14px
}

.room-item-alt {
	border-bottom:solid 1px #eee;
	padding-bottom:30px;
	margin-bottom:30px;
}
.room-item-alt img{
	width:100%;
}

.room-item-alt h1{
	font-size:32px;
	margin-top:0;
}

.room-item-alt .room-specs{
border:none;
margin:0; padding-left:0;
}

/*- - - - - - - - - - - - - - - - - - - - 
	CONTACT
/*- - - - - - - - - - - - - - - - - - - - */
.error {
    display:none;
    padding:20px;
    background:#D9534F;
    color:#fff;
    margin-bottom:30px
}

.success {
    display:none;
    padding:20px;
    background:#5CB85C;
    color:#fff;
    margin-bottom:30px
}

.error img {
    vertical-align:top
}

.full {
    width:98%
}

#send {
    color:#fff !important;
}

#contact input[type="text"],#contact textarea {
}

#contact select {
    width:100%
}

.contact_form_holder .form-control {
    margin-bottom:20px
}

.contact_form_holder input,.contact_form_holder select {
    font-size:15px;
    border:none;
    box-shadow:none;
    border-bottom:solid 2px #ccc;
    padding-left:0;
    margin-bottom:60px!important
}

.contact_form_holder select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:url(../img/arrow-down.png) 96% center no-repeat rgba(255,255,255,.8)
}

.contact_form_holder textarea {
    border:solid 2px #ddd
}

.contact_form_holder input:focus,.contact_form_holder select:focus,.contact_form_holder textarea:focus {
    box-shadow:none
}

.contact_form_holder input[type="submit"] {
    padding:10px 20px
}

/*- - - - - - - - - - - - - - - - - - - - 
	BOOKING
/*- - - - - - - - - - - - - - - - - - - - */
#booking {
    padding:30px 0;
    background:#655233
}

#booking input,#booking button,#booking select {
    width:100%;
    color:#fff
}

#booking button {
    border:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    background:#EDB83A
}

#booking select {
    background:none
}

#booking input,#booking select {
    border:solid 1px #EDB83A;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0
}

#booking input {
    background:url(../img/icon-calendar.png) 10px center no-repeat;
    padding-left:36px;
    -webkit-box-sizing:border-box;
/* Safari/Chrome, other WebKit */
    -moz-box-sizing:border-box;
/* Firefox, other Gecko */
    box-sizing:border-box
/* Opera/IE 8+ */
}

.booking_form_holder .form-control {
    margin-bottom:20px
}

input.error_input {
    border-bottom-color:#C03
}

textarea.error_input {
    border-color:#C03
}

select.error_input {
    border-color:#C03
}

/*- - - - - - - - - - - - - - - - - - - - 
	FOOTER
/*- - - - - - - - - - - - - - - - - - - - */
footer {
    color:#888;
    background:#111;
    padding:80px 0 30px
}

footer ul {

    margin:0;
    padding:0;
}

footer li {
    font-size: 12pt;
    padding:0 10px 0 0
}

footer a {
    color:#fff
}

footer h3 {
    color:#f3d074;
    margin-bottom:30px
}

.subfooter {
    padding-top:30px;
    margin-top:20px
}

/*- - - - - - - - - - - - - - - - - - - - 
jquery toTop
- - - - - - - - - - - - - - - - - - - - */
#toTop {
    z-index:1555;
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:-999px;
    background:url(../img/ui.totop.png) no-repeat left top
}

#toTopHover {
    background:url(../img/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left
}

#toTop:active,#toTop:focus {
    outline:none
}

/*- - - - - - - - - - - - - - - - - - - - 
widget
- - - - - - - - - - - - - - - - - - - - */
.widget {
    padding:30px;
    margin-bottom:40px;
    background:#eee
}

.widget h3 {
    padding-bottom:10px;
    font-weight:400
}

.widget ul {
    list-style:none;
    margin:0;
    padding:0
}

.widget_category li {
    margin-bottom:5px;
    border-bottom:solid 1px #ddd;
    padding-bottom:8px
}

.widget_category li i {
    margin-right:10px
}

.widget_recent_post li {
    padding-left:20px;
    background:url(../images/list-arrow.png) left 2px no-repeat;
    border-bottom:solid 1px #4b1701;
    padding-bottom:7px;
    margin-bottom:5px
}

.widget_recent_post li a {
    color:#555
}

.widget .comments li {
    padding-left:20px;
    background:url(../images/list-arrow.png) left 2px no-repeat;
    border-bottom:solid 1px #4b1701;
    padding-bottom:7px;
    margin-bottom:5px
}

.widget_tags li {
    display:inline-block;
    margin-right:5px;
    margin-bottom:14px
}

.widget_tags li a {
    text-decoration:none;
    color:#fff;
    text-shadow:none;
    border-radius:2px;
    margin-bottom:5px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background:#EDB83A;
    padding:5px 10px
}

.widget_tags li a:hover {
    background:#655233;
    color:#fff
}

.widget iframe {
    margin-bottom:20px;
    border:solid 1px #ddd
}

.testimonial {
    margin:0;
    background:#B7EDFF;
    padding:20px 50px;
    position:relative;
    font-family:Georgia,serif;
    color:#666;
    border-radius:5px;
    font-style:italic;
    text-shadow:0 1px 0 #ECFBFF;
    background-image:linear-gradient(#f2f2f2,#ddd);
    font-size:16px;
    border:none
}

.testimonial:before,.testimonial:after {
    content:"\201C";
    position:absolute;
    font-size:80px;
    line-height:1;
    color:#999;
    font-style:normal
}

.testimonial:before {
    top:0;
    left:10px
}

.testimonial:after {
    content:"\201D";
    right:10px;
    bottom:-.5em
}

.arrow-down {
    width:0;
    height:0;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #ddd;
    margin:0 0 0 25px
}

.testimonial-author {
    margin:0 0 0 25px;
    font-family:Arial,Helvetica,sans-serif;
    color:#999;
    text-align:left
}

.testimonial-author span {
    font-size:12px;
    color:#666
}

/*- - - - - - - - - - - - - - - - - - - - 
/* blog */
/*- - - - - - - - - - - - - - - - - - - - */
.blog-list {
    margin-top:-10px;
    margin:0;
    padding:0
}

.blog-list li {
    margin-bottom:20px;
    list-style:none;
    background:url(../images/dotwhite50.png);
    line-height:1.7em;
    padding-bottom:40px
}

.blog-header .by {
    display:inline-block;
    float:left;
    background:url(../images/icon-user.png) left center no-repeat;
    padding-left:24px
}

.blog-header .cat {
    display:inline-block;
    float:left;
    background:url(../images/icon-folder.png) left center no-repeat;
    padding-left:24px
}

.blog-header .news-date {
    display:inline-block;
    float:left;
    background:url(../images/icon-folder.png) left center no-repeat;
    padding-left:24px
}

/* blog list */
.blog-list li {
    margin-bottom:40px
}

.blog-list .info {
    position:absolute;
    width:60px
}

.blog-list .date {
    text-shadow:none;
    text-shadow:none;
    text-align:center;
    padding:10px 0
}

.blog-list .date h4 {
    font-size:40px;
    margin-bottom:20px
}

.blog-list .date span {
    letter-spacing:8px;
    padding-left:5px
}

.blog-list a.readmore {
    display:block;
    width:60px;
    height:40px;
    background:url(../images/arrow-2.png) right center no-repeat #555
}

.blog-list a.readmore:hover {
    background:url(../images/arrow-2.png) left center no-repeat #E1704B
}

.blog-list .preview {
    padding-left:80px;
    line-height:1.6em
}

.blog-list .meta-info {
    margin:20px 0 0 80px;
    font-size:13px;
    padding:6px 10px;
    background:#f8f8f8;
    font-size:10px
}

.blog-list .meta-info span {
    padding:0 10px;
    color:#ccc
}

.blog-list .preview img {
    width:100%;
    margin-bottom:20px
}

.blog-list .callbacks_container {
    margin-bottom:-35px
}

/*- - - - - - - - - - - - - - - - - - - - 
/* blog single */
/*- - - - - - - - - - - - - - - - - - - - */
.blog-read {
    margin-top:-10px;
    margin:0;
    padding:0
}

.blog-read {
    margin-bottom:20px;
    list-style:none;
    background:url(../images/dotwhite50.png);
    line-height:1.7em;
    padding-bottom:40px
}

.blog-header .by {
    display:inline-block;
    float:left;
    background:url(../images/icon-user.png) left center no-repeat;
    padding-left:24px
}

.blog-header .cat {
    display:inline-block;
    float:left;
    background:url(../images/icon-folder.png) left center no-repeat;
    padding-left:24px
}

.blog-header .news-date {
    display:inline-block;
    float:left;
    background:url(../images/icon-folder.png) left center no-repeat;
    padding-left:24px
}

/* blog list */
.blog-read {
    margin-bottom:40px
}

.blog-read .info {
    position:absolute;
    width:60px
}

.blog-read .date {
    text-shadow:none;
    text-shadow:none;
    text-align:center;
    padding:10px 0
}

.blog-read .date h4 {
    font-size:40px;
    margin-bottom:20px
}

.blog-read .date span {
    letter-spacing:8px;
    padding-left:5px
}

.blog-read a.readmore {
    display:block;
    width:60px;
    height:40px;
    background:url(../images/arrow-2.png) right center no-repeat #555
}

.blog-read a.readmore:hover {
    background:url(../images/arrow-2.png) left center no-repeat #E1704B
}

.blog-read .preview {
    padding-left:80px;
    line-height:1.6em
}

.blog-read .meta-info {
    margin:20px 0 0 80px;
    font-size:13px;
    padding:6px 10px;
    background:#f8f8f8;
    font-size:10px
}

.blog-read .meta-info span {
    padding:0 10px;
    color:#ccc
}

.blog-read .preview img {
    width:100%;
    margin-bottom:20px
}

.blog-read .callbacks_container {
    margin-bottom:-35px
}

/* blog comment */
#blog-comment {
    margin-left:80px
}

#blog-comment h5 {
    margin-bottom:10px
}

#blog-comment ul {
    margin-bottom:30px
}

#blog-comment ul,#blog-comment li {
    list-style:none;
    margin-left:-40px;
    padding-left:0
}

#blog-comment li {
    min-height:70px;
    padding-bottom:10px;
    margin-bottom:10px;
    padding-bottom:20px;
    border-bottom:solid 1px #eee
}

#blog-comment li .avatar {
    position:absolute;
    margin-top:5px
}

#blog-comment li .avatar img {
    width:60px;
    height:60px
}

#blog-comment .comment {
    font-size:12px;
    margin-left:85px
}

#blog-comment li {
    min-height:70px;
    font-size:14px;
    line-height:1.6em
}

#blog-comment li li {
    margin-left:55px;
    padding-bottom:0;
    margin-top:20px;
    padding-top:10px;
    border-top:solid 1px #eee;
    border-bottom:none
}

#blog-comment li li .avatar {
    position:absolute
}

#blog-comment li li .comment {
}

.comment-info {
    margin-left:85px;
    margin-bottom:5px
}

.comment-info span {
}

.comment-info .c_name {
    display:block;
    font-weight:700
}

.comment-info .c_reply {
    padding-left:20px;
    margin-left:20px;
    border-left:solid 1px #ddd;
    font-size:12px
}

.comment-info .c_date {
    font-size:12px
}

/* comment form */
#comment-form-wrapper {
    margin-top:30px
}

#commentform {
    margin-top:30px
}

#commentform label {
    display:block
}

#commentform input {
    width:290px;
    margin-bottom:20px
}

#commentform input:focus {
    border:solid 1px #999;
    background:#fff
}

#commentform textarea {
    width:97%;
    padding:5px;
    height:150px;
    margin-bottom:20px
}

#commentform textarea:focus {
    border:solid 1px #999;
    background:#fff
}

#commentform input.btn {
    width:auto
}

/*- - - - - - - - - - - - - - - - - - - - 
/* BLOG LIST
/*- - - - - - - - - - - - - - - - - - - - */
.bloglist-small {
    list-style:none;
    margin:0;
    padding:0
}

.bloglist-small li {
    padding-bottom:10px;
    margin-bottom:10px
}

.bloglist-small li h5 {
    margin-bottom:5px
}

.bloglist-small li .txt {
    padding-left:80px
}

.bloglist-small li .read {
    display:block;
    margin-bottom:5px
}

.bloglist-small li .info {
    display:block;
    margin:0;
    font-size:11px;
    color:#aaa
}

.bloglist-small img {
    position:absolute
}

.date-box {
    width:60px;
    position:absolute;
    text-align:center;
    border:solid 1px #eee
}

.date-box .day {
    display:block;
    font-size:28px;
    padding:16px 0;
    font-family:"Cinzel";
    background:#404040;
    color:#fff
}

footer .date-box .day,footer .date-box .month {
    background:none
}

footer .date-box .month {
    border-top:solid 1px #222
}

.date-box .month {
    font-size:12px;
    display:block;
    color:#fff;
    background:#555
}

.widget .date-box .month {
    color:#fff;
    background:#EDB83A
}

.blog-list .date-box .month,.blog-read .date-box .month {
    color:#fff;
    background:#EDB83A
}

footer .date-box {
    border:solid 1px #222
}

/* - - - - - - - - - - - - - - - - - - - - 
gallery
/* - - - - - - - - - - - - - - - - - - - - */
#gallery .item {
    text-align:center;
    background:#EDB83A;
    color:#333;
    padding-bottom:15px;
    font-size:12px;
    width:24.5%;
    margin:2px 2px 0 0
}

#gallery .item h4 {
    font-size:16px;
    margin-bottom:0;
    margin-top:20px
}

#gallery-fullwidth .gallery-item {
    width:16.65%;
    float:left
}

#gallery-fullwidth .gallery-item img {
    width:100%
}

/* - - - - - - - - - - - - - - - - - - - - 
jquery isotope
/* - - - - - - - - - - - - - - - - - - - - */
.isotope,.isotope .isotope-item {
/* change duration value to whatever you like */
    -webkit-transition-duration:.8s;
    -moz-transition-duration:.8s;
    -ms-transition-duration:.8s;
    -o-transition-duration:.8s;
    transition-duration:.8s
}

.isotope {
    -webkit-transition-property:height,width;
    -moz-transition-property:height,width;
    -ms-transition-property:height,width;
    -o-transition-property:height,width;
    transition-property:height,width
}

.isotope .isotope-item {
    -webkit-transition-property:-webkit-transform,opacity;
    -moz-transition-property:-moz-transform,opacity;
    -ms-transition-property:-ms-transform,opacity;
    -o-transition-property:-o-transform,opacity;
    transition-property:transform,opacity
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition {
    -webkit-transition-duration:0;
    -moz-transition-duration:0;
    -ms-transition-duration:0;
    -o-transition-duration:0;
    transition-duration:0
}

#filters {
    padding:0;
    margin:0;
    margin-bottom:20px
}

#filters li {
    display:inline-block;
    margin-right:3px;
    margin-bottom:20px
}

#filters a {
    color:#fff;
    padding:10px 20px;
    color:#555;
    border:solid 1px #ddd;
    text-decoration:none;
    outline:none
}

#filters a:hover {
    border:solid 1px #f3d074
}

#filters a.selected {
    background:#f3d074;
    border:solid 1px #f3d074;
    color:#FFF
}

.isotope-item {
    z-index:2
}

.isotope-hidden.isotope-item {
    pointer-events:none;
    z-index:1
}

/*- - - - - - - - - - - - - - - - - - - - 
title
- - - - - - - - - - - - - - - - - - - - */
.text-title {
    margin-bottom:40px;
    text-align:center
}

.text-title h2 {
    font-family:'Lato Regular';
    color:#f3d074;
    font-size:16px;
    padding:5px 0;
    letter-spacing:6px;
    text-transform:uppercase;
    border-top:solid 1px #ddd;
    border-bottom:solid 1px #ddd
}

/*- - - - - - - - - - - - - - - - - - - - 
flickr
- - - - - - - - - - - - - - - - - - - - */
#flickr-photo-stream img {
    width:50px;
    height:auto;
    margin:0 12px 12px 0;
    float:left
}

#flickr-photo-stream a img {
    border:solid 2px #fff
}

#flickr-photo-stream a:hover img {
    border:solid 2px #96C277
}

/*- - - - - - - - - - - - - - - - - - - - 
FLEXSLIDER
- - - - - - - - - - - - - - - - - - - - */
.flexslider {
    margin:0;
    padding:0;
    border:none;
    box-shadow:none
}

#slider {
    text-align:center;
    height:100%
}

.text-wrap {
    position:absolute;
    background:#555;
    font-family:"Minion Pro Regular" !important;
    height:100%;
    width:100%
}

.text-wrap .inner {
    display:table;
    position:absolute;
    left: 100px;
    height:100%;
    z-index:100
}

.text-wrap .inner .mid {
    display:table-cell;
    vertical-align:middle
}

.callbacks_nav.prev {
    left:0
}

.callbacks_nav.next {
    right:0
}

.text-wrap h3 {
    font-family: "Minion Pro Regular" !important;
    font-size: 35px;
    color:#f3d074;
    margin-bottom: 0 !important;
}

.text-wrap h1 {
    font-family: "Minion Pro Regular" !important;
    font-size: 45px;
    font-weight:400;
    color:#f3d074;
    display:inline-block;
    padding:0px 20px;
    margin-top: 0 !important;
}

.text-wrap .desc {
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    width:50%;
    color:#888;
    line-height:2em;
    margin:0 auto
}

/* main slider */
.main-slider .flex-control-nav {
    margin-left:-30px
}

.main-slider .flex-control-paging li a {
    width:60px;
    height:5px;
    background:#f4ebd8
}

.main-slider .flex-control-paging li a.flex-active {
    background:#EDB83A
}

/* testi slider */
.testi-slider .slides li {
    margin-bottom:30px
}

.testi-slider .testi-by {
    text-align:center;
    display:block;
    margin-bottom:30px
}

.testi-slider blockquote {
    font-family:"Antic Slab";
    background:none;
    border:none;
    font-size:36px;
    font-weight:lighter;
    line-height:32px;
    text-align:center;
    margin:0
}

.testi-slider .flex-control-nav {
    margin-left:-30px
}

.testi-slider .flex-control-paging li a {
    width:60px;
    height:5px;
    background:#f4ebd8
}

.testi-slider .flex-control-paging li a.flex-active {
    background:#EDB83A
}

/*- - - - - - - - - - - - - - - - - - - - 
TAB
- - - - - - - - - - - - - - - - - - - - */
.lt_tab {
}

.lt_tab .lt_nav {
    overflow:hidden;
    padding-left:0;
    margin:0;
    padding:0;
    font-weight:700
}

.lt_tab .lt_nav li {
    float:left;
    list-style:none;
    background:#EEE;
    margin-right:5px
}

.lt_tab .lt_nav li span {
    padding:8px 16px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    display:block;
    background:#f5f5f5;
    text-decoration:none;
    color:#646464;
    font-size:13px;
    cursor:pointer
}

.lt_tab .lt_nav li:first-child span {
    border-left:1px solid #ddd
}

.lt_tab .lt_tab_content {
    border:1px solid #ddd;
    padding:15px 20px 20px;
    margin-top:-1px;
    color:#555;
    background:#fff
}

.lt_tab .lt_nav li span.active {
    background:#FFF;
    border-bottom:1px solid #fff;
    color:#222;
    margin-bottom:-3px
}

#menu-parallax-bg {
    padding:60px 0;
    margin:60px 0;
    background:url(../img/bg-big-1.jpg) top center
}

/* misc */
/*- - - - - - - - - - - - - - - - - - - - 
control nav
- - - - - - - - - - - - - - - - - - - - */
.flex-control-nav {
    width:100%;
    position:absolute;
    bottom:-40px;
    text-align:center
}

.flex-control-nav li {
    margin:0 6px;
    display:inline-block;
    zoom:1;
    *display:inline
}

.flex-control-paging li a {
    width:11px;
    height:11px;
    display:block;
    background:#fff;
    background:rgba(255,255,255,0.5);
    cursor:pointer;
    text-indent:-9999px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 3px rgba(0,0,0,0.3)
}

.flex-control-paging li a:hover {
    background:#fff;
    background:rgba(255,255,255,0.7)
}

.flex-control-paging li a.flex-active {
    background:#fff;
    background:rgba(255,255,255,0.9);
    cursor:default
}

.accordion-toggle,.accordion-inner {
    background:#fff;
    color:#555
}

.accordion-inner {
    background:#fff;
    color:#555
}

.hover {
    font-size:12px;
    display:block;
    width:100%;
    height:100px;
    background:#000;
    position:absolute;
    overflow:hidden;
    line-height:1.5em;
    text-align:center
}

.hover .btn-view-details {
    display:inline-block;
    font-size:14px;
    color:#EDB83A;
    padding:10px 20px;
    text-decoration:none;
    margin:0 auto;
    border:solid 1px #EDB83A
}

.pull-left {
    margin:0 20px 0 0
}

.slides {
    margin:0;
    padding:0
}

.form-control {
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px
}

.col-md-3 {
    margin-left:-1px
}

.pagination li a {
    color:#EDB83A
}

.pagination li.active a {
    background:#EDB83A;
    border:solid 1px #EDB83A
}

.pagination li.active a:hover {
    background:#EDB83A;
    border:solid 1px #EDB83A
}

/* animate */
.icon-box,.icon-box i,.icon-box:hover,.icon-box:hover i {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s
}

/*- - - - - - - - - - - - - - - - - - - - 
	MEDIA QUERY
- - - - - - - - - - - - - - - - - - - - */
@media (max-width: 992px) {
.subheader h1 {
    font-size: 30px;
}

#slider .text-wrap {
    display:none
}

.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
    margin-bottom:30px
}

header {
    display:none
}

header.clone {
    display:block;
    position:inherit;
    margin:0;
    padding:0;
    margin-top:0;
    height:auto
}

header.clone #logo {
    padding:20px;
    display:block
}

#logo {
    margin:0 auto;
    width:100%;
    text-align:center
}

#logo .inner {
    display:block;
    width:100%;
    height:auto;
    margin:20px 0
}

#booking input,#booking select {
    width:100%;
    margin-bottom:10px
}

#menu-btn {
    display:block
}

#mainmenu-container {
    font-family:"Open Sans";
    position:fixed;
    background:#333;
    top:0;
    z-index:200;
    height:100%;
    overflow-y:auto;
    left:100%
}

#mainmenu {
    display:block;
    float:none;
    width:100%;
    margin:0;
    padding:0
}

#mainmenu a {
    text-align:left;
    padding-top:10px!important;
    padding-bottom:10px!important
}

#mainmenu li ul {
    display:block;
    position:relative;
    padding-left:30px;
    width:100%
}

#mainmenu li {
    border-bottom:solid 1px rgba(255,255,255,.1);
    margin:0;
    width:100%;
    display:block;
    letter-spacing:3px
}

#mainmenu li:last-child {
    margin-bottom:30px
}

#mainmenu li ul {
    border-top:solid 1px rgba(255,255,255,.1)
}

#mainmenu li ul a {
    width:100%;
    background:none;
    border:none
}

#mainmenu li ul li {
    border-bottom:solid 1px rgba(255,255,255,.1);
    border-left:solid 1px rgba(255,255,255,.1)!important
}

#mainmenu li ul li a {
    display:block;
    padding-left:30px
}

#mainmenu li ul li:last-child {
    border-bottom:none;
    margin:0
}

#mainmenu li ul li:last-child a {
    border-bottom:none
}

#mainmenu li a {
    color:#bbb
}

#mainmenu li a:after {
    display:none;
    margin-left:0
}

#mainmenu li li a:hover {
    background:none
}

.selectnav {
    display:none;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px
}

header,#mainmenu-container {
    border:none
}

footer nav {
    display:inline-block
}

.bloglist-small {
    float:left
}

#gallery .item{
	width:49.5%;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#gallery .item{
		width:49.5%;
	}
}

@media only screen and (max-width: 480px) {
	#gallery .item{
		width:100%;
	}
	
	.btn-big-border {
		display:block;
		font-size:16px;
		padding:15px;
	}
}

/* close media query */

.pic_slider img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.small-quotes {
    font-size: 15pt !important;
    padding-right: 5px;
    vertical-align: text-top
}

ul.menu-footer li {
    list-style-type: none;
}

.social-media-icons {
    display: inline-block;
    width: 60px !important;
    height: 60px !important;
    border: 2px solid white;
    border-radius: 100%;
    padding: 10px 10px;
    margin-right: 10px
}

.social-media-icons:last-child {
    margin-right: 0;
}

.social-media-icons a {
    text-align: center;
    font-size: 25pt;
}

.side-lang {
    position: absolute !important;
    right: 10% !important;
    top: 30% !important
}

.side-lang > .btn-lang {
    color: white;
    border: 1px solid #f3d074 !important;
    background: none !important
}

.side-lang > .btn-lang.active {
    color: black;
    border: 1px solid #f3d074 !important;
    background: #f3d074 !important
}

.treatment {
    text-transform: uppercase;
    font-size: 20px;
    color: white;

    font-family: "Lato Light" !important;

    margin-bottom: 30px !important;
    display: block;
}
.treatment-name {
    float: left
}
.treatment-price {
    float: right;
}

.accordion, .accordion-bt {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  display: block;
  text-transform: uppercase;
  font-family: "Lato Light";
}

.accordion:after, .accordion-bt:after {
  float: left;
  content: '+';
  color: white;
  font-weight: bold;
  vertical-align: text-top;
  text-align: center;
  margin-right: 5px;
}

.accordion.active:after, .accordion-bt.active:after {
  content: "-";
  margin-right: 5px;
}

.accordion.faq-question {
    margin-left: 20px;
    font-size: 10pt !important;
    padding-left: 0 !important;
}

.accordion.faq-question::after {
    position: absolute;
    left: 0;
    padding: 0 2px;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100%;
    color: black;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  border: none !important;
  background: none !important;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.our-expert a, .location-detail a {
    display: block;
    color: #f3d074;
    font-family: "Lato Light";
    font-size: 20px;
    padding: 10px 0;
}

.location-detail a {
    color: white !important;

    font-size: 25px;
}

.our-expert a:hover, .location-detail a:hover{
    color: white;
}

.bg-split {
    background: linear-gradient(90deg, #fff 50%, #000 50%);
}

@media (max-width: 767px) {
    .bg-split {
        background: linear-gradient(180deg, #fff 50%, #000 50%);
    }
}

p.outlet-name {
    font-size: 20px;
}

p.quote-dokter {
    font-size: 15px !important;
    color: white !important;

    font-family: "Lato Italic";
}

ol.oe-right-side li {
    color: black;
    font-family: "Lato Italic";
}

ul.oe-right-side li {
    color: white;
    font-size: 15px !important
}

ul.oe-right-side {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.oe-right-side > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}


.btn-treatment {
    padding: 15px 15px  !important;
    margin: 0 5px;
    
    border: none;
    border-radius: 5px;
    background: #363636;

    color: #f3d074 !important;

    font-size: 15px;
    font-family: "Lato Regular";

    text-transform: uppercase;

    cursor: pointer;
}

a.btn-treatment:hover {
    background: #555555;
}

a.btn-treatment.active {
    background: #555555;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.tabcontent:first-child {
    display: block;
}

.h-80 { 
    height: 800px !important;
}

.title-location {
    border-bottom: 1px solid #f3d074;

    font-size: 80px;

    display: table-cell;
}

.jadwal-dokter {
    width: 100%;
}

.jadwal-dokter thead tr {
    border-bottom: 1px solid #fff;
}

.jadwal-dokter thead th{
    color: #f3d074;

    font-size: 20px;
    font-family: "Lato Light";
    padding: 20px 15px;

    text-align: center;
}

.jadwal-dokter thead th:first-child {
    text-align: left;
}

.jadwal-dokter tbody td {
    padding: 10px 5px;

    border-right: 1px solid #fff;

    width: 100%;

    color: #f3d074;
    width: 100px;

    text-align: center;
}

.jadwal-dokter tbody td:first-child {
    padding-left: 25px;
    border-right: none;
}

.jadwal-dokter tbody td:last-child {
    border-right: none;
}

.foto-dokter {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    background-color: white;

    display: inline-block;

    width: 100px;
    height: 100px;

    border-radius: 50%;

    text-align: left !important;
}

.nama-dokter {
    font-size: 20px;
    color: #f3d074;

    width: 400px !important;

    text-align: left !important;
}

/* .jadwal-dokter tbody td .foto-dokter img {

} */

.jadwal-dokter tbody td.kosong {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.mobileview {
    display: none;
}

@media (max-width: 768px) {
    .webview {
        display: none;
    }

    .mobileview {
        display: block;
    }

    .treatment {
        font-size: 15px !important;
        font-family: "Lato Bold" !important;
    }

    .treatment-name {
        word-wrap: break-word;
        max-width: 200px;
    }
}

.caret{
    color: red;
}

/* .bg-location-detail {
    background: url("../assets/images/locations/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #f3d074
} */

.logo-judul, .logo-utama {
    width: 20%;
}

@media (max-width: 767px) {
    .logo-judul, .logo-utama {
        width: 50% !important
    }    
}

.dropdown-treatment {
    border: 2px solid #f3d074;
}